@import "../../style/variables";
@import "../../style/mixins";

:host {
  display: block;
  position: relative;
  width: 200px;
}

input {
  min-height: 40px;
  padding: 0 1rem;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 40px;
  background-color: #F7F7F7;
  border: 1px solid #ccc;
  width: 100%;
  @include commonUIElementTransition();


  &.has-icon {
    padding-left: (3rem);
  }

  &:focus {
    @include focus();
  }
}

span.inp-icon {
  position: absolute;
  font-size: 20px;
  top: 50%;
  margin-top: -10px;
  left: 1rem;
  color: $color-primary-500;
}
