<div
class="sign-in-page d-flex justify-content-center align-items-center h-100">
  <div class="header">
    
  </div>
  <div class="sign-in-container position-relative d-flex">
    <h2 class="position-absolute w-100">Calorie Intake</h2>

    <h1 class="sub-header">Sign in</h1>

    <form [formGroup]="signinFormGroup" (ngSubmit)="formSignin()"
    novalidate="true">
      <app-input class="mt-4" formControlName="email"
      (keyup.enter)="formSignin()" placeholder="Email" icon="email">
      </app-input>

      <app-input class="mt-4" formControlName="password" placeholder="Password"
      (keyup.enter)="formSignin()" type="password" icon="password">
      </app-input>

      <app-button type="submit" (click)="formSignin()" class="mt-4">
        Sign in
      </app-button>

      <p *ngIf="invalidAlertTxt" class="mt-4 alert-invalid">
        {{ invalidAlertTxt }}
      </p>
    </form>

    

    
  </div>
</div>