<div
class="sign-in-page d-flex justify-content-center align-items-center h-100">
  <div class="header">
    
  </div>
  <div class="sign-in-container position-relative d-flex">
    <h2 class="position-absolute w-100">Calorie Intake</h2>

    <h1 class="sub-header">Sign in</h1>

    <app-input class="mt-4"
    [(ngModel)]="inpEmail"
    (appFocus)="appInpFocus($event)"
    (focus)="inpFocus($event)"
    placeholder="Email"
    icon="email">
    </app-input>

    <app-input class="mt-4"
    placeholder="Password"
    icon="password">
    </app-input>

    <app-button (click)="signIn()" class="mt-4">Sign in</app-button>
  </div>
</div>