@import "../../style/mixins";
@import "../../style/variables";

:host {
  display: block;
  position: relative;
  width: 200px;
}

button {
  min-height: 40px;
  padding: 0 1rem;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 40px;
  // @include primaryBGGradient();
  @include raisedShadowSmall();
  background-color: $color-primary-500;
  width: 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  @include commonUIElementTransition();
  
  &:hover {
    // @include primaryBGGradientDark();
    background-color: $color-primary-600;
  }

  &:focus {
    @include focus();
  }
}