@import "mixins";
@import "variables";

:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-gray-100;
}

.sign-in-page {
  .header {
    @include primaryBGGradient();
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40%;
  }

  .sign-in-container {
    @include raisedShadowExtraLarge();
    width: 480px;
    height: 360px;
    background-color: #fff;
    border-bottom-left-radius: 128px;
    border-top-left-radius: 128px;
    border-top-right-radius: 128px;

    h1 {
      text-align: center;
      top: -60px;
      color: #fff;
      font-weight: 300;
    }
  }
}